/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 55%, 43%);
    --first-color-second: hsl(var(--hue-color), 55%, 43%);
    --first-color-alt: hsl(var(--hue-color), 40%, 50%);
    --first-color-lighter: hsl(var(--hue-color), 70%, 65%);
    --title-color: hsl(var(--hue-color), 10%, 22%);
    --text-color: hsl(var(--hue-color), 12%, 43%);
    --text-color-light: hsl(var(--hue-color), 7%, 54%);
    --input-color: hsl(var(--hue-color), 82%, 94%);
    --body-color:  #fff;
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 0.95rem;
    --small-font-size: 0.84rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Intro page */

    --bg-color: #d6d5d0;
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

/* .section{
    padding: 2rem 0 0rem;
} */

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    font-size: var(--small-font-size);
    display: block;
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle{
    text-align: center;
}
/*==================== LAYOUT ====================*/

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);

}
/*==================== NAV ====================*/

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
    color: black;
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: rgb(129, 123, 113);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: rgb(129, 123, 113);
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: rgb(0, 58, 105);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: rgb(0, 118, 214);
}

.nav__icon{
    font-size: 1.25rem;
}

.nav__close{
    position: absolute;
    right: 2rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.nav__close:hover{
    color: rgb(119, 119, 119);
}
/* show menu */

.show-menu{
    bottom: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/

.home__container{
    gap: 1rem;
}

.home__content{
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    /* font-size: 1.5rem; */
}

.home__social-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__blob{
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img{
    width: 300px;
}

.home__data{
    grid-column: 1/3;
}

.home_title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: rgb(45, 60, 192);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}
/*==================== BUTTONS ====================*/

.button{
    display: inline-block;
    background-color: rgb(20, 115, 223);
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: rgb(72, 140, 218);
    transform: translateY(0.25rem);
}
/*==================== ABOUT ====================*/

.about__container{
    display: flex;
    align-items: center;    
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}


/*==================== SKILLS ====================*/

.subtitle{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: rgb(23, 68, 190);
}

.skill{
    display: flex;
    grid-gap: 10px;
    padding: 10px;
    /* max-width: ; */
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

@media screen and (min-width: 767px) {
    .skill{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .skill{
        grid-template-columns: 1fr;
        flex-direction: column;
    }
}

.set{
    /* background-color: white; */
    padding: 24px;
    border-radius: 16px;
    cursor: pointer;
    width: 400px;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.set:hover{
    /* color: rgb(109, 154, 236); */
    box-shadow: 0px 12px 16px rgb(163, 163, 163);
}

.set span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: rgb(54, 106, 218);
    /* color: rgb(255, 255, 255); */
    border-radius: 35%;
    margin-inline: auto;
    cursor: pointer;
}

.set > header{
    padding-block: 18px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.set .icons{
    padding-block: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;
    color: rgb(102, 102, 102);
    font-size: 16px;
    cursor: pointer;
}

.set:hover .icons{
    color: rgb(194, 98, 9);
}


/*==================== PROJECT ====================*/

.project {
    max-width: 900px;
    margin: auto;
    overflow: auto;
    padding: 5rem 2rem;
  }
  
  img {
    width: 100%;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .card h3 {
    margin-bottom: 2rem;
  }
  
  .card img {
    height: 400px;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }

/*==================== CONTACT ME ====================*/

.contact__box{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
    padding: 5rem 5rem;
}

.contact{
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    padding: 5rem 0 5rem;
    background-color: rgb(58, 101, 165);    
}

textarea {
    padding: 10px;
    line-height: 2;
    width: 20rem;
    border-radius: 5px;
    /* border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999; */
    justify-content: center;
}

textarea {
    resize: none;
}

.contact__input{
    /* padding: 0.75rem 1rem 0.75rem ; */
    padding-left: 1vw;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-bottom: 1vh;
    margin: 0.6rem 0;
    border: none;
    outline: none;
    background-color: rgb(241, 246, 250);
    border-radius: 0.5rem;

}
/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */

/* Intro page */

.intro {
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
    width: 100%;
  }
  
  .my_intro {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
    color: rgb(33, 65, 117);
  }
  
  .my_intro::before,
  .my_intro::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .my_intro::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .my_intro::after {
    width: 0.125em;
    background: rgb(0, 0, 0);
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .welcome_note {
    padding-top: 2rem;
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(77, 92, 11);
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  