/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 55%, 43%);
    --first-color-second: hsl(var(--hue-color), 55%, 43%);
    --first-color-alt: hsl(var(--hue-color), 40%, 50%);
    --first-color-lighter: hsl(var(--hue-color), 70%, 65%);
    --title-color: hsl(var(--hue-color), 10%, 22%);
    --text-color: hsl(var(--hue-color), 12%, 43%);
    --text-color-light: hsl(var(--hue-color), 7%, 54%);
    --input-color: hsl(var(--hue-color), 82%, 94%);
    --body-color:  #fff;
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 0.95rem;
    --small-font-size: 0.84rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Intro page */

    --bg-color: #d6d5d0;
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

/* .section{
    padding: 2rem 0 0rem;
} */

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    font-size: var(--small-font-size);
    display: block;
    /* margin-bottom: var(--mb-3); */
}

.section__title, .section__subtitle{
    text-align: center;
}
/*==================== LAYOUT ====================*/

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);

}

/* Intro page */

.intro {
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
    width: 100%;
  }
  
  .my_intro {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
    color: rgb(33, 65, 117);
  }
  
  .my_intro::before,
  .my_intro::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .my_intro::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .my_intro::after {
    width: 0.125em;
    background: rgb(0, 0, 0);
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .welcome_note {
    padding-top: 2rem;
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(77, 92, 11);
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  
/*==================== NAV ====================*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(240, 240, 240);
    font-family: "Poppins", sans-serif;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.logo{
    color: 	#152672;
    letter-spacing: 3px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    color: #202020;
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.nav-links a::after{
    content: "";
    position: absolute;
    background-color: #152672;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: transform 0.6s ease;
    transform: scale(0,1);
}

.nav-links a:hover::after{
    width: 100%;
    transform: scale(1,1);
}

.nav-links li{
    list-style: none;
}

.burger div{
    width: 22px;
    height: 2px;
    margin: 5px;
    background-color: #202020;
    transition: all ease 0.5s ;
}

.burger{
    display: none;
}

@media screen and (max-width:767px) {
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #e4e4e4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 3rem;
        width: 100%;
        padding-right: 2rem;
        transform: translateX(100%);
    } 

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
        transition: 2s;
    } 
}

@keyframes navAppear{
    from{
        opacity: 0;
        transform: translateX(70px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line-1{
    transform: rotate(-45deg) translate(-5px, 6px) ;
}

.toggle .line-2{
    opacity: 0;
}

.toggle .line-3{
    transform: rotate(45deg) translate(-4px, -4.75px);
}

/*==================== HOME ====================*/

/* Social icons */

.wrapper{
    padding-top: 250px;
    padding-left: 30px;
    display: grid;
    row-gap: 30px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.social-button{
  display: flex;
  height: 60px;
  width: 60px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  gap: 10px;

}
.social-button:hover{
  width: 200px;
}

.href{
    text-decoration: none;
    color: #000000;
}
.social-button .social-icon{
  display: flex;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  align-items: center;
  color: #000000;
}
.social-button:nth-child(1):hover .social-icon{
  background: #df3f3f;
}
.social-button:nth-child(2):hover .social-icon{
  background: #000000;
}
.social-button:nth-child(3):hover .social-icon{
  background: #2251b6;
}

.social-button .social-icon i{
    padding-left: 18px;
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social-button:hover .social-icon i{
  color: rgb(255, 255, 255);
}
.social-button span{
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
  padding-bottom: 20px;
}
.social-button:nth-child(1) span{
  color: #df3f3f;
}
.social-button:nth-child(2) span{
  color: #000000;
}
.social-button:nth-child(3) span{
  color: #3068e1;
}

/* End of social icons */

.home__img{
    padding-left: 280px;
}

.home{
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: white;
    width: 100%;
}

.home__container{
    gap: 1rem;
}

.home-social-icons{

    display: flex;
    justify-content: left;
    
}

.home__content{
    grid-template-columns: 0.5fr 3fr;
    padding-top: 2rem;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 2rem;
    font-size: 3rem;
}

.home__social-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__blob{
    width: 200px;
    fill: var(--first-color);
    align-items: center;
    justify-content: center;
}

.home__blob-img{
    width: 300px;
}

.home__data{
    grid-column: 1/3;
}

.home_title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: rgb(45, 60, 192);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}

.about__description-2{
    padding-bottom: 2rem;
}
/*==================== BUTTONS ====================*/

.button{
    display: inline-block;
    background-color: rgb(46, 95, 185);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: rgb(46, 95, 185);
    transform: translateY(0.25rem);
}
/*==================== ABOUT ====================*/

.about__container{
    display: grid;
    align-items: center;    
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}

.about{
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: rgb(204, 226, 220);
    width: 100%;
}


/*==================== PROJECT ====================*/

.section__title_pro{
    font-size: var(--h1-font-size);
    padding-bottom: 4rem;
}

.project{
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: rgba(243, 235, 217, 0.876);
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
  
img {
    width: 100%;
}
  
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    background: #dad7ce;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 700px;
    margin: auto;
    overflow: auto;
  }
  
  .card h3 {
    margin-bottom: 2rem;
  }
  
  .card img {
    height: 400px;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }

/*==================== SKILLS ====================*/

.skill-logo{
    width: auto;
    height: 15px;
    display: grid;
    padding-left: 118px;
    align-items: center;
    filter: grayscale(100%);
}

.stp{
    padding-bottom: 60px;
}

.skills_sec{
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: rgba(179, 182, 163, 0.411);
    width: 100%;
}

.subtitle{
    font-size: 40px;
    text-align: center;
    color: rgb(23, 68, 190);
}

.skill{
    display: flex;
    grid-gap: 50px;
    padding: 10px;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    margin-inline: auto;
    cursor: pointer;
}

@media screen and (min-width: 767px) {
    .skill{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .skill{
        grid-template-columns: 1fr;
        flex-direction: column;
    }
}

.set{
    background: white;
    padding: 24px;
    border-radius: 16px;
    width: 400px;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.set:hover{
    /* color: rgb(109, 154, 236); */
    box-shadow: 0px 12px 16px rgb(77, 76, 76);
    
}

.set span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: rgb(54, 106, 218);
    color: rgb(255, 255, 255);
    border-radius: 35%;
    margin-inline: auto;
    
}

.skills-subt{
    padding-block: 18px;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: 400;
}

.icons{
    padding-block: 8px;
    display: flex;
    grid-template-columns: 1fr 28px;
    color: rgb(102, 102, 102);
    font-size: 16px;
    padding-left: 50px;
    justify-content: space-between;
    padding-right: 40px;
    
    
}

.icons:hover{
    color: rgb(194, 98, 9);
}

/*==================== CONTACT ME ====================*/

.contact__box{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
    padding-top: 1rem;
    max-height: 80vh;
}

.contact{
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: rgb(58, 101, 165);
    width: 100%;
    
}
textarea {
    padding: 10px;
    line-height: 2;
    width: 20rem;
    border-radius: 5px;
    justify-content: center;
}

textarea {
    resize: none;
}

.contact__input{
    /* padding: 0.75rem 1rem 0.75rem ; */
    padding-left: 1vw;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-bottom: 1vh;
    margin: 0.6rem 0;
    border: none;
    outline: none;
    background-color: rgb(241, 246, 250);
    border-radius: 0.5rem;
}

.send__button{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* margin: 2vh 5vh; */
    margin-bottom: 6rem;
    padding: 2vh 2vw;
    border-radius: 100px;
    border: none;
    background-color: rgb(11, 83, 167);
    cursor: pointer;
}

.send__button:hover{
    background-color: rgb(18, 96, 185);   
}


/*==================== FOOTER ====================*/

.footer{
    position: relative;
    display: grid;
    padding-left: 0%;

}

.footer-media{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 2.5rem;
    justify-content: center;
    align-items: center;
    display: grid;
    font-size: 2rem;
}

.socials{
    padding-top: 1rem;
    color: black;
    font-size: 2rem;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.footer-icons{
    color: rgb(25, 48, 148);
}

.footer-icons:hover{
    color: rgb(10, 80, 209);
}
/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */

